In [4]:
import numpy as np
import pandas as pd
from datetime import date

In [5]:
# today = str(date.today())
today = '2023-08-03'

In [6]:
'america_'+today

'america_2023-08-03'

## Initial Data

In [104]:
initial_df = pd.read_csv('america_'+today+'.csv')
initial_df = initial_df.drop(columns=['Description'])
initial_df = initial_df[initial_df['Volume'] >= 50000]
initial_df = initial_df[initial_df['Price'] <= 5]
change_tracker_df = pd.DataFrame()
change_tracker_df['Ticker'] = initial_df['Ticker']
change_tracker_df['Sum_of_price_change'] = 0
change_tracker_df['Sum_of_volume_change'] = 0
initial_tickers = initial_df['Ticker']
divider = 1

In [105]:
initial_df

     Ticker    Price  Change %   Volume
18      AAU  0.14510 -0.137646    50857
32     ABSI  2.00000  2.040816   114879
34     ABUS  2.04340 -1.759615   232457
35     ABVC  2.96000 -1.986755   146663
47     ACET  2.45500 -1.008065    75537
...     ...      ...       ...      ...
7059    YSG  1.18500  0.423729   260655
7065    YVR  0.16325 -0.820170    51741
7099    ZOM  0.20260 -3.062201  1281084
7109   ZVSA  0.16990 -0.058824   380993
7112   ZYNE  0.35100 -4.826464    96744

[591 rows x 4 columns]

## Functions

In [21]:
# def create_change_tracking_df(prev_df, new_df):
#     change_tracker = pd.DataFrame()
#     change_tracker[]

## Calculate change in volume

In [164]:
#new incoming df
new_df = pd.read_csv('america_'+today+' ('+str(divider)+')'+'.csv')
new_df = new_df.drop(columns=['Description'])
new_df = new_df[new_df['Ticker'].isin(initial_df['Ticker'])]
#==================================================
change_tracker_df['Sum_of_price_change'] += ((new_df['Price'] - initial_df['Price'])/initial_df['Price'])*100
change_tracker_df['Sum_of_volume_change'] += ((new_df['Volume'] - initial_df['Volume'])/initial_df['Volume'])*100
change_tracker_df['Current_price_change'] = ((new_df['Price'] - initial_df['Price'])/initial_df['Price'])*100
change_tracker_df['Current_volume_change'] = ((new_df['Volume'] - initial_df['Volume'])/initial_df['Volume'])*100
change_tracker_df['Avg_price_change'] = change_tracker_df['Sum_of_price_change'] / divider
change_tracker_df['Avg_volume_change'] = change_tracker_df['Sum_of_volume_change'] / divider
change_tracker_df['Volume_diff'] = change_tracker_df['Current_volume_change']-change_tracker_df['Avg_volume_change']
divider += 1
initial_df = new_df
#==================================================
rel_vol_df = pd.DataFrame()
rel_vol_df['Ticker'] = new_df['Ticker']
rel_vol_df['Price'] = new_df['Price']
check = change_tracker_df
rel_vol_df['Price_diff'] = check['Current_price_change'] - check['Avg_price_change']
rel_vol_df['Volume_diff'] = check['Current_volume_change'] - check['Avg_volume_change']
#==================================================

# average volume change
# percentage diff from current volume and average volume change
# change_tracker_df.sort_values(by='Volume_diff', ascending=False)[:50]

In [165]:
rel_vol_df = change_tracker_df.sort_values(by='Volume_diff', ascending=False)
rel_vol_df = change_tracker_df.reset_index(drop=True)
rel_vol_df.sort_values(by='Volume_diff', ascending=False)[:50]

,Ticker,Sum_of_price_change,Sum_of_volume_change,Current_price_change,Current_volume_change,Avg_price_change,Avg_volume_change,Volume_diff
0,AAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABSI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABVC,NaN,NaN,0.244389,1.279211,NaN,NaN,NaN
4,ACET,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ADAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ADIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ADMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ADMP,NaN,NaN,-0.317586,0.721242,NaN,NaN,NaN
9,ADN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ADVM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AEVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,AFMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,AGEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,AGLE,NaN,NaN,0.000000,0.132465,NaN,NaN,NaN
15,AGRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,AKBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,AKTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,AKTX,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,AKU,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ALLO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,ALT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ALTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,ALVR,NaN,NaN,0.162602,1.482547,NaN,NaN,NaN
24,AMBO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,AMBP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,AMPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,AMRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,AMRS,NaN,NaN,0.000000,0.000202,NaN,NaN,NaN
30,AMRX,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,AMWL,NaN,NaN,0.151745,0.654253,NaN,NaN,NaN
32,ANGI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,APCX,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,API,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,APLT,NaN,NaN,0.000000,0.017667,NaN,NaN,NaN
36,APVO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,AQB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,AQMS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,AQST,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,ARAV,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,ARC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,ARDX,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,AREB,NaN,NaN,-0.030764,0.099811,NaN,NaN,NaN
44,AREC,NaN,NaN,0.000000,0.500253,NaN,NaN,NaN
45,ARMP,NaN,NaN,0.000000,0.333688,NaN,NaN,NaN
46,ARQQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,ASMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,ASPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,ASTI,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
divider

26

In [53]:
test = new_df[new_df['Ticker'] == 'RBKB']

In [43]:
test = change_tracker_df[change_tracker_df['Ticker'] == 'A']

In [54]:
test

     Ticker  Price  Change %  Volume
5336   RBKB   7.01 -1.820728    3235

In [41]:
check = change_tracker_df[change_tracker_df['Ticker'] == 'A']

In [42]:
check['Current_volume_change']-check['Avg_volume_change']

0    1.47685
dtype: float64

In [194]:
check = change_tracker_df['Current_volume_change']-change_tracker_df['Avg_volume_change']

In [304]:
check_df = pd.DataFrame()
check_df['Ticker'] = new_df['Ticker']
check_df['Price'] = new_df['Price']
# check_df['Price_diff'] = change_tracker_df['Current_price_change'] - change_tracker_df['Avg_price_change']
check_df['Volume_diff'] = change_tracker_df['Current_volume_change'] - change_tracker_df['Avg_volume_change']
check_df[200:250]

    Ticker     Price   Volume_diff
200   AIXI    8.2000   -459.255356
201    AIZ  140.8500   -582.828562
202    AJG  221.8900   -154.999595
203    AKA    0.5501   -604.888901
204   AKAM   93.1000   1535.211341
205   AKAN    0.5820   -627.186894
206   AKBA    1.6250  15554.407250
207   AKLI    1.1300  -1147.352474
208   AKRO   44.7600   -494.859222
209   AKTS    2.3350   -653.959717
210   AKTX    0.2574   -558.096495
211    AKU    0.1861   -259.954995
212   AKYA    6.6000   -715.075947
213     AL   41.5650   -806.309604
214    ALB  200.1599  18471.671350
215   ALBT    1.3900   -282.771050
216   ALCC   10.3400   1832.862796
217   ALCO   24.8500   3468.260939
218   ALCY   10.2600   -149.722245
219   ALDX    8.0000    104.940694
220    ALE   56.8650    -87.962402
221   ALEC    6.6900    -25.043801
222    ALG  179.7800   -203.383919
223   ALGM   43.1500    475.949794
224   ALGN  365.8050    395.926899
225   ALGS    0.8800   -220.580676
226   ALGT  115.6800   -272.735184
227   ALHC    5.8250   4144.299221
228   ALIM    3.1600   -287.081489
229   ALIT    8.5550    -72.324366
230    ALK   46.9100   -203.549044
231   ALKS   27.6500    126.979872
232   ALKT   16.6150   -323.198909
233    ALL  110.5600     -5.622506
234   ALLE  111.8300   2788.136385
235   ALLG    2.6485   -346.172449
236   ALLK    5.4650  -1040.800422
237   ALLO    5.2350   3610.969155
238   ALLR    2.4310  -1148.990774
239   ALLT    2.3300  -1461.075111
240   ALLY   28.8700   -222.959898
241   ALNY  191.8000  18519.890027
242   ALOT   13.9500   -275.652876
243   ALPN   14.0500   -424.632493
244   ALPP    1.9900    137.714826
245   ALRM   52.3400    360.997548
246   ALRN    1.7000   -273.211699
247   ALRS   19.6550   -584.130415
248   ALSN   59.1000   -553.146448
249    ALT    3.0800   -569.241677

In [307]:
change_tracker_df[change_tracker_df['Ticker'] == 'ALT']
# check_df[check_df['Ticker'] == 'MULN']
# change_tracker_df['Volume_diff'] = change_tracker_df['Current_volume_change'] - change_tracker_df['Avg_volume_change']

,Ticker,Sum_of_price_change,Sum_of_volume_change,Current_price_change,Current_volume_change,Avg_price_change,Avg_volume_change,Volume_diff
237,ALT,4553.695533,35282.726565,115.432099,4648.696407,133.932222,1037.727252,3610.969155

In [309]:
change_tracker_df[change_tracker_df['Volume_diff'] > 100000]

,Ticker,Sum_of_price_change,Sum_of_volume_change,Current_price_change,Current_volume_change,Avg_price_change,Avg_volume_change,Volume_diff
139,AGCO,5765.247388,5.986351e+05,204.383886,5.918300e+05,169.566100,17606.915263,5.742231e+05
152,AGNG,9099.832463,1.245903e+05,334.714674,1.214250e+05,267.642131,3664.420706,1.177605e+05
182,AIRG,7813.989772,2.284387e+05,6540.217391,2.056972e+05,229.823229,6718.786356,1.989784e+05
357,APP,8368.786506,2.985664e+05,175.337187,2.697200e+05,246.140780,8781.366146,2.609386e+05
451,ASXC,19644.828562,3.717226e+05,-6.854445,2.724487e+05,577.789075,10933.017641,2.615157e+05
...,...,...,...,...,...,...,...,...
7023,XWEL,38293.937355,1.483936e+06,1071.468401,1.237344e+06,1126.292275,43645.183610,1.193698e+06
7026,XYL,18747.846292,7.524533e+05,-56.337800,5.926189e+05,551.407244,22130.978030,5.704880e+05
7028,XYLG,7749.593379,6.014635e+05,1463.011457,2.077346e+05,227.929217,17690.102265,1.900445e+05
7084,ZHDG,76943.598459,9.107893e+05,-27.102585,6.773619e+05,2263.047014,26787.921596,6.505740e+05
7089,ZING,30312.597508,4.595925e+05,-28.644940,1.798779e+05,891.546986,13517.427727,1.663605e+05

In [319]:
change_tracker_df[change_tracker_df['Ticker'] == 'AGCO']

,Ticker,Sum_of_price_change,Sum_of_volume_change,Current_price_change,Current_volume_change,Avg_price_change,Avg_volume_change,Volume_diff
139,AGCO,5765.247388,598635.118929,204.383886,591830.0,169.5661,17606.915263,574223.084737

In [320]:
591830.0 - 17606.915263

574223.084737

In [272]:
divider

34

In [278]:
check_df[check_df['Ticker'] == 'MULN']

     Ticker   Price  Price_diff   Volume_diff
4518   MULN  0.1506  -3550.4932  3.466651e+07

In [311]:
initial_df

     Ticker     Price  Change %   Volume
0         A  126.2675 -1.129512   791341
1        AA   34.4000  1.385205  1934559
2       AAA   24.6900  0.121654    10076
3      AAAU   19.1800  0.026076   670771
4       AAC   10.6500  0.188147    40849
...     ...       ...       ...      ...
7486   ZVSA    0.1645 -3.235294   504817
7487    ZWS   30.2400 -0.460829   315879
7488   ZYME    7.3550  0.478142   116012
7489   ZYNE    0.3538 -4.067245   115921
7490   ZYXI    8.5300  2.895054    98701

[7491 rows x 4 columns]

In [314]:
new_df

0

     Ticker     Price  Change %   Volume
0         A  126.2675 -1.129512   791341
1        AA   34.4000  1.385205  1934559
2       AAA   24.6900  0.121654    10076
3      AAAU   19.1800  0.026076   670771
4       AAC   10.6500  0.188147    40849
...     ...       ...       ...      ...
7486   ZVSA    0.1645 -3.235294   504817
7487    ZWS   30.2400 -0.460829   315879
7488   ZYME    7.3550  0.478142   116012
7489   ZYNE    0.3538 -4.067245   115921
7490   ZYXI    8.5300  2.895054    98701

[7491 rows x 4 columns]