# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [4]:
import numpy as np
import pandas as pd
import math
from scipy import stats
import requests

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [5]:
stocks = pd.read_csv('nasdaq.csv')
from secrets import API_KEY

In [21]:
stocks

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,AACI,Armada Acquisition Corp. I Common Stock,$10.09,-0.0800,-0.787%,2.077052e+08,United States,2021.0,7021,Industrials,Consumer Electronics/Appliances
1,AACIU,Armada Acquisition Corp. I Unit,$10.13,0.0000,0.00%,0.000000e+00,United States,2021.0,2,Industrials,Consumer Electronics/Appliances
2,AACIW,Armada Acquisition Corp. I Warrant,$0.0744,0.0044,6.286%,0.000000e+00,United States,2021.0,40844,Industrials,Consumer Electronics/Appliances
3,AADI,Aadi Bioscience Inc. Common Stock,$12.75,-0.2100,-1.62%,3.110377e+08,United States,NaN,56855,Health Care,Biotechnology: Pharmaceutical Preparations
4,AAL,American Airlines Group Inc. Common Stock,$16.64,-0.4400,-2.576%,1.081435e+10,United States,NaN,42182982,Consumer Discretionary,Air Freight/Delivery Services
...,...,...,...,...,...,...,...,...,...,...,...
3784,ZUMZ,Zumiez Inc. Common Stock,$23.57,-0.3700,-1.546%,4.593972e+08,United States,2005.0,292177,NaN,NaN
3785,ZVSA,ZyVersa Therapeutics Inc. Common Stock,$2.57,-0.4700,-15.461%,2.334054e+07,United States,2022.0,305963,Health Care,Biotechnology: Pharmaceutical Preparations
3786,ZYME,Zymeworks Inc. Common Stock,$10.00,0.0000,0.00%,6.299631e+08,United States,NaN,939293,Health Care,Biotechnology: Biological Products (No Diagnos...
3787,ZYNE,Zynerba Pharmaceuticals Inc. Common Stock,$0.61,0.0198,3.355%,2.870825e+07,United States,2015.0,198799,Health Care,Biotechnology: Pharmaceutical Preparations
3788,ZYXI,Zynex Inc. Common Stock,$15.21,-1.5300,-9.14%,5.855850e+08,United States,NaN,345641,Health Care,Other Pharmaceuticals

In [61]:
price = float(stocks[stocks['Symbol'] == 'ZYXI']['Last Sale'].values[0][1:])
price

15.21

In [28]:
symbols = stocks['Symbol'].to_numpy()

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [36]:
symbol = 'AAPL'
api_url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={symbol}&apikey={API_KEY}'
data = requests.get(api_url).json()

False

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [20]:
peRatio = data['PERatio']
price = stocks[stocks['Symbol'] == symbol]['Last Sale']

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [22]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
# def chunks(lst, n):
#     """Yield successive n-sized chunks from lst."""
#     for i in range(0, len(lst), n):
#         yield lst[i:i + n]   
        
# symbol_groups = list(chunks(stocks['Ticker'], 100))
# symbol_strings = []
# for i in range(0, len(symbol_groups)):
#     symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [72]:
# final_dataframe = pd.DataFrame(columns = my_columns)

# for symbol in symbols[0:10]:
#     api_call_url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={symbol}&apikey={API_KEY}'
#     data = requests.get(api_call_url).json()
#     if('PERatio' in data):
#         final_dataframe = final_dataframe.append(
#             pd.Series(
#                 [
#                     symbol,
#                     float(stocks[stocks['Symbol'] == symbol]['Last Sale'].values[0][1:]),
#                     -1 if data['PERatio'] == 'None' else float(data['PERatio']),
#                     'N/A',
#                 ], index = my_columns
#             ), ignore_index=True
#         )
# final_dataframe

  Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0   AACI  10.0900                      -1                     N/A
1  AACIU  10.1300                      -1                     N/A
2  AACIW   0.0744                      -1                     N/A
3   AADI  12.7500                   2.582                     N/A

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [73]:
final_dataframe.sort_values('Price-to-Earnings Ratio', ascending=True, inplace=True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
# final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True, drop=True)
final_dataframe

  Ticker  Price Price-to-Earnings Ratio Number of Shares to Buy
0   AADI  12.75                   2.582                     N/A

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [ ]:
# def portfolio_input():
#     global portfolio_size
#     portfolio_size = input("Enter the value of your portfolio:")

#     try:
#         val = float(portfolio_size)
#     except ValueError:
#         print("That's not a number! \n Try again:")
#         portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [78]:
# portfolio_input()
portfolio_size = 1000.0

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [79]:
# position_size = float(portfolio_size)/len(final_dataframe.index)

# for row in final_dataframe.index:
#     final_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[row, 'Price'])
# final_dataframe
# # sum(final_dataframe['Number of Shares to Buy'])

/home/shahriar/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

  Ticker  Price Price-to-Earnings Ratio Number of Shares to Buy
0   AADI  12.75                   2.582                      78

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [80]:
symbol = 'AAPL'
batch_api_call_url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={symbol}&apikey={API_KEY}'
data = requests.get(batch_api_call_url).json()
# Price-to-earnings ratio
pe_ratio = data['PERatio']
# Price-to-book ratio
pb_ratio = data['PriceToBookRatio']
# Price-to-sales ratio
ps_ratio = data['PriceToSalesRatioTTM']
# Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
ev_to_ebitda = data['EVToEBITDA']
# Enterprise Value divided by Revenue (EV/rev)
ev_to_revenue = data['EVToRevenue']

'5.92'

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [105]:
# rv_columns =[
#     'Ticker', 
#     'Price',
#     'Number of Shares to Buy',
#     'Price-to-Earnings Ratio',
#     'PE Percentile',
#     'Price-to-Book Ratio',
#     'PB Percentile',
#     'Price-to-Sales Ratio',
#     'PS Percentile',
#     'EV/EBITDA',
#     'EV/EBITDA Percentile',
#     'EV/RV',
#     'EV/RV Percentile',
#     'RV Score',
# ]

# rv_dataframe = pd.DataFrame(columns=rv_columns)

# # rv_dataframe

In [106]:
rv_columns =[
    'Ticker', 
    'Price',
    'Number of Shares to Buy',
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/RV',
    'EV/RV Percentile',
    'RV Score',
]

rv_dataframe = pd.DataFrame(columns=rv_columns)

for symbol in symbols[0:100]:
    api_call_url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={symbol}&apikey={API_KEY}'
    data = requests.get(api_call_url).json()
    if('PERatio' in data):
        pe_ratio = None if data['PERatio'] == 'None' else float(data['PERatio'])
        # Price-to-book ratio
        pb_ratio = None if data['PERatio'] == 'None' else float(data['PriceToBookRatio'])
        # Price-to-sales ratio
        ps_ratio = None if data['PERatio'] == 'None' else float(data['PriceToSalesRatioTTM'])
        # Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
        ev_to_ebitda = None if data['PERatio'] == 'None' else float(data['EVToEBITDA'])
        # Enterprise Value divided by Revenue (EV/rev)
        ev_to_revenue = None if data['PERatio'] == 'None' else float(data['EVToRevenue'])
        
        rv_dataframe = rv_dataframe.append(
            pd.Series(
                [
                    symbol,
                    float(stocks[stocks['Symbol'] == symbol]['Last Sale'].values[0][1:]),
                    'N/A',
                    pe_ratio,
                    'N/A',
                    pb_ratio,
                    'N/A',
                    ps_ratio,
                    'N/A',
                    ev_to_ebitda,
                    'N/A',
                    ev_to_revenue,
                    'N/A',
                    'N/A',
                ], index = rv_columns
            ), ignore_index=True
        )

rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/RV,EV/RV Percentile,RV Score
0,AACI,10.0900,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A
1,AACIU,10.1300,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A
2,AACIW,0.0744,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A
3,AADI,12.7500,N/A,2.582,N/A,1.893,N/A,28.19,N/A,-2.232,N/A,12.63,N/A,N/A
4,AAL,16.6400,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [92]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/RV,EV/RV Percentile,RV Score
0,AACI,10.0900,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A
1,AACIU,10.1300,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A
2,AACIW,0.0744,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A
4,AAL,16.6400,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A

In [93]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/RV,EV/RV Percentile,RV Score
0,AACI,10.0900,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A
1,AACIU,10.1300,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A
2,AACIW,0.0744,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A
3,AADI,12.7500,N/A,2.582,N/A,1.893,N/A,28.19,N/A,-2.232,N/A,12.63,N/A,N/A
4,AAL,16.6400,N/A,None,N/A,None,N/A,None,N/A,None,N/A,None,N/A,N/A

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [95]:
for column in [
    'Price',
    'Price-to-Earnings Ratio',
    'Price-to-Book Ratio',
    'Price-to-Sales Ratio',
    'EV/EBITDA',
    'EV/RV',
]:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace=True)

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [97]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/RV,EV/RV Percentile,RV Score
0,AACI,10.0900,N/A,2.582,N/A,1.893,N/A,28.19,N/A,-2.232,N/A,12.63,N/A,N/A
1,AACIU,10.1300,N/A,2.582,N/A,1.893,N/A,28.19,N/A,-2.232,N/A,12.63,N/A,N/A
2,AACIW,0.0744,N/A,2.582,N/A,1.893,N/A,28.19,N/A,-2.232,N/A,12.63,N/A,N/A
3,AADI,12.7500,N/A,2.582,N/A,1.893,N/A,28.19,N/A,-2.232,N/A,12.63,N/A,N/A
4,AAL,16.6400,N/A,2.582,N/A,1.893,N/A,28.19,N/A,-2.232,N/A,12.63,N/A,N/A

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [98]:
metrics = {
    'Price-to-Earnings Ratio':'PE Percentile',
    'Price-to-Book Ratio':'PB Percentile',
    'Price-to-Sales Ratio':'PS Percentile',
    'EV/EBITDA':'EV/EBITDA Percentile',
    'EV/RV':'EV/RV Percentile'
}
for metric in metrics.keys():
    for row in rv_dataframe.index:
        rv_dataframe.loc[row, metrics[metric]] \
            = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])
        
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/RV,EV/RV Percentile,RV Score
0,AACI,10.0900,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,N/A
1,AACIU,10.1300,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,N/A
2,AACIW,0.0744,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,N/A
3,AADI,12.7500,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,N/A
4,AAL,16.6400,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [99]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/RV,EV/RV Percentile,RV Score
0,AACI,10.0900,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
1,AACIU,10.1300,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
2,AACIW,0.0744,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
3,AADI,12.7500,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
4,AAL,16.6400,N/A,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0

## Selecting the 50 Best Value StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [100]:
rv_dataframe.sort_values('RV Score', ascending=True, inplace=True)
rv_dataframe.reset_index(inplace=True, drop=True)
# rv_dataframe = rv_dataframe[:50]

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [ ]:
portfolio_input()

In [102]:
# position_size = float(portfolio_size)/len(rv_dataframe.index)
position_size = 6000
for row in rv_dataframe.index:
    rv_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/rv_dataframe.loc[row, 'Price'])
rv_dataframe.sort_values('Price')

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/RV,EV/RV Percentile,RV Score
2,AACIW,0.0744,80645,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
0,AACI,10.0900,594,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
1,AACIU,10.1300,592,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
3,AADI,12.7500,470,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
4,AAL,16.6400,360,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0

In [103]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/RV,EV/RV Percentile,RV Score
0,AACI,10.0900,594,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
1,AACIU,10.1300,592,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
2,AACIW,0.0744,80645,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
3,AADI,12.7500,470,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0
4,AAL,16.6400,360,2.582,60.0,1.893,60.0,28.19,60.0,-2.232,60.0,12.63,60.0,60.0

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

## Saving Our Excel Output
As before, saving our Excel output is very easy: